.clients__list {
  @include flex(center);
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  @include flex(center, center);
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icons-color);
  transition: color var(--time-and-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}