.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  transition: background-color var(--time-and-cubic);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    background-color: #188ce8;
    border: none;
  }
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  border-radius: 4px;
  background-color: var(--grey-bg-color);
  border: none;
  transition: background-color var(--time-and-cubic),
    box-shadow var(--time-and-cubic), color var(--time-and-cubic);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
  }
}