.contact-form {
  width: 100%;
  @include flex(false, false, column);
  transition: border-color var(--time-and-cubic);
}

.contact-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.contact-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form__input-wrapper {
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.contact-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--time-and-cubic);

  .contact-form__input:focus + & {
    fill: var(--accent-color);
  }

  .contact-form__input-wrapper:focus-within &,
  .contact-form__input-wrapper:hover & {
    fill: var(--accent-color-hover);
  }
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time-and-cubic);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  .contact-form__input-wrapper:focus-within &,
  .contact-form__input-wrapper:hover & {
    border: 1px solid var(--accent-color-hover);
  }
}

.contact-form__message {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--time-and-cubic);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &:focus-within,
  &:hover {
    border: 1px solid var(--accent-color-hover);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form__check-field {
  margin-bottom: 30px;
  @include flex(center, center);
}

.contact-form__check {
  position: absolute;
  appearance: none;
}

.contact-form__checkbox_check,
.contact-form__checkbox_box {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  margin-left: 12px;
  cursor: pointer;
}

.contact-form__checkbox_check {
  background-color: var(--accent-color);
  border-radius: 2px;
  fill: #ffffff;

  .contact-form__check:checked ~ & {
    display: inline-block;
  }

  .contact-form__check ~ & {
    display: none;
  }
}

.contact-form__check:checked ~ .contact-form__checkbox_box {
  display: none;
}

.contact-form__check:focus ~ .contact-form__checkbox_box {
  box-shadow: 0 0 1px 2px var(--accent-color);
}

.user-agreement__link {
  line-height: 1.71;
  color: var(--accent-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-form__btn {
  padding-left: 52px;
  padding-right: 52px;
}