:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --primary-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --black-color: #000000;
  --grey-color-first: #eeeeee;
  --grey-color-second: #ececec;
  --icons-color: #afb1b8;
  --icons-background: rgba(255, 255, 255, 0.1);
  --time-and-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}